body {
    background-color:#222;
    color:orange
    ;
}

table {
    border-collapse:collapse;
    width:100%;
}

td {
    padding-left:8px;
    border-bottom:1px solid #333;
}

img {
    margin-top:8px;
    margin-bottom:8px;
    margin-right:8px;
    width:128px;
    height:128px;
    border-radius:50%;;
    background-color:gray;
}

img:hover {
    background-color:orange;
}

.grad {
    font-size:18px;
    font-weight:bold;
    background: -webkit-linear-gradient(0deg, #AD1457, orange);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent
}