    /* Created by oTARANo */
    
    .chatbox_body {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        width: 100vw;
        height: calc(100% - 87px);
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    #user {
        width: 100vw;
        position: fixed;
        left: 0px;
        bottom: 35px;
        display: block;
        background-color: gray;
        white-space: nowrap;
    }
    
    #msgbox {
        width: calc(80% - 12px);
        min-height: 25px;
        max-height: 35px;
        padding: 5px;
        outline: none;
        border: solid 1px #AAA;
        display: inline-block;
        vertical-align: center;
        background-color: orange;
        border-radius: 25px;
        resize: none;
        margin: 0px;
    }
    
    #send {
        width: 20vw;
        height: 35px;
        display: inline-block;
        outline: none;
        border: none;
        color: #FFF;
        background-color: black;
        border-radius: 25px;
        padding: 0px;
        cursor: pointer;
        margin: 0px;
    }
    
    #send:active {
        background-color: #00A;
        outline: none;
    }
    
    #messages {
        display: block;
        height: inherit;
        background-color: #EEE;
        position: fixed;
        top: 60px;
        left: 0px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    .left {
        text-align: left;
        /*
   display: block;
   */
    }
    
    .right {
        text-align: right;
        /*
   display: block;
   */
    }
    
    .incoming {
        background-color: #FFF;
        color: #000;
        border: solid 1px orange;
    }
    
    .outgoing {
        background-color: orange;
        color: #FFF;
    }
    
    .section {
        display: block;
        width: calc(100% - 30px);
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 7.5px;
        margin-bottom: 7.5px;
    }
    
    .message {
        display: inline-flex;
        justify-content: left;
        align-items: center;
        border-radius: 25px;
        padding: 10px;
        font-size: 10pt;
    }
    
    input:first {
        color: #F00;
    }
    
    .incoming:active {
        background-color: #EEE;
    }
    
    .outgoing:active {
        background-color: #00A;
    }
    
    * {
        outline: none;
        tap-highlight: none;
        -webkit-tap-highlight: none;
        -webkit-tap-highlight-color: none;
        -moz-tap-highlight: none;
        -moz-tap-highlight-color: none;
        -khtml-tap-highlight: none;
        -khtml-tap-highlight-color: none;
    }