.info {
    position: absolute;
    top: -6;
    right: -5;
    background-color: brown;
    color: white;
    padding: 1px 3px;
    font-weight: 600;
    border-radius: 6px;
}

.bi-search {
    font-size: 15px !important;
    font-weight: 600 !important;
    margin-left: 20px;
}

.right_nav_text {
    width: 130px;
    text-align: center;
    font-size: 0.8rem;
}

.mainbody {
    margin: 30px 0px 0px 1px;
    background-color: #e9e5df !important;
    display: grid;
    grid-template-columns: 73% 25%;
    grid-gap: 16px;
}

.posts,
.activity {
    background-color: white;
    padding: 10px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border: 2px solid var(--border_color);
}

.activity {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.posts {
    background: transparent;
    padding: 0px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


/* .post-description {
    height: 140px;
} */

textarea {
    height: 140px;
    overflow-y: auto;
    width: -webkit-fill-available;
    border: none;
}

.post-footer-items {
    padding: 5px;
}


/* .post-footer-items .input_blocks {
    justify-content: normal;
} */

.btn-0 {
    color: #8a33ae;
    text-decoration: none;
    border: none;
}

.btn-0:focus {
    border: none;
    outline: none;
}

.btn-0:focus {
    outline: none !important;
}

.btn-0:before {
    content: "";
    position: absolute;
    background-color: #460960;
    transform: translateX(-100%);
}

.btn-0:hover {
    color: #ddc3e7;
}

.btn-0:hover:before {
    transform: translateX(0);
}

.close {
    position: absolute;
    top: -2px;
    right: 2px;
    cursor: pointer;
}

.post_item {
    background-color: white;
    border: 2px solid var(--border_color);
    height: fit-content;
}


/* .post_item_header {
    padding: 10px;
} */

.post_item {
    background-color: white;
    border: 2px solid var(--border_color);
    height: fit-content;
}

.box1,
.act {
    height: 300px;
}

.profile {
    width: 75px;
    height: 75px;
}

.post_input {
    width: 90%;
    padding: 15px;
    border: 1px solid #6e6558;
    border-radius: 500px;
    outline: none;
    color: rgb(116, 108, 108);
    text-decoration: none;
    transition: 0.4s;
}

.post_input:hover {
    background: #05728f;
    color: #464646;
}

.popup {
    background: rgb(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    width: 600px;
    background: #fff;
    /* top: -100px; */
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.input_blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.input_option {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post_box {
    padding: 15px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    color: var(--para_color);
    font-weight: 400;
}

.input_text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.option {
    margin-right: 10px;
}

.post_item {
    margin-bottom: 10px;
}

.input_option {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

.input_option:hover {
    background: rgba(0, 0, 0, .15);
    cursor: pointer;
}

.post_item_owner>a {
    text-decoration: none;
    color: black;
    font-size: 1.4 rem;
    font-weight: 600;
}

.post_item_owner>a:hover {
    color: blue;
}

.post_item_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.post_item_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post_item_body_info {
    padding-left: 10px;
    padding-right: 10px;
}

.post_item_body_info>p {
    font-size: 0.8rem;
}

.post_item_header>i:hover {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 500px;
}

.post_item_body_info>p {
    padding: 10px 0px;
    font-size: 1.05rem;
    color: black;
}

.post_item_body_video>video {
    object-fit: contain;
    width: 400px;
}

.post_item_footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid lightgray;
    flex-wrap: wrap;
}

.post_item_footer>.footer_item {
    margin-right: 10px;
    color: black;
    font-size: 0.8 rem !important;
}

.footer_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.footer_item:hover {
    background-color: lightgrey;
    padding: 10px;
    cursor: pointer;
}

.footer_item>i {
    font-weight: 600;
    color: var(--message);
    font-size: 1.2rem;
    margin-right: 5px;
}

.post_item_comment_info {
    margin: 4px 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.post_item_comment_info>span {
    line-height: 2;
    margin-left: 10px;
    font-size: 15px;
}

.new_list {
    background-color: white;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1px 10px;
    justify-content: center;
    width: 100%;
}

.new_list:hover {
    background-color: var(--list_background);
    cursor: pointer;
}

.activity {
    background-color: #e9e5df !important;
    border: none;
}

.act_title {
    font-size: va(--message_title_size);
    font-weight: var(--message_font_weight);
}

.news {
    border: 2px solid var(--border_color);
    height: fit-content;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 8px;
    padding-bottom: 10px;
}

.news_title {
    font-weight: var(--message_font_weight);
}

.account_name {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.8rem;
}

.account_feed {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    padding: 10px 5px;
    border-bottom: 1px solid lightgray;
    flex-wrap: wrap;
}

.account_picture {
    height: 40px;
    object-fit: contain;
}

.account_info {
    margin-left: 5px;
}

.follow {
    padding: 5px;
    text-align: center;
    font-size: var(--message_font_size);
    font-weight: 500;
    margin-top: 5px;
    border-radius: 50px;
    border: 1px solid black;
}

.follow:hover {
    background-color: var(--list_background);
    cursor: pointer;
}

.news_head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 0px;
}

.small_screen {
    display: none;
}

.option_text {
    font-size: 0.9rem;
    font-weight: var(--message_font_weight);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    height: fit-content;
    padding: 5px 0px;
    position: absolute;
    left: -190px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    width: 250px;
}

.dropdown .title {
    font-size: var(--message_title_size);
    font-weight: 600;
    padding: 10px;
    padding-bottom: 5px;
}

.list {
    padding: 8px 10px;
    font-size: small;
}

.list:hover {
    text-decoration: underline;
    background-color: var(--list_background);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.bdr_bottom {
    border-bottom: 0.2px solid rgba(0, 0, 0, .15);
}

.dropdown_profile {
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding: 10px;
}

.profile_view_button {
    border: 1px solid blue;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-radius: 500px;
}

@media screen and (max-width:650px) {
    .sidebar,
    .activity {
        display: none;
    }
    .mainbody {
        margin: 0px 5px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .header {
        margin: 0px;
        padding: 10px;
    }
    .nav_text {
        display: none;
    }
    .search_input {
        display: none;
    }
    .search_box {
        background-color: white !important;
    }
    .height_right_2>.nav_link,
    .right_nav_text {
        display: none;
    }
    .small_screen {
        display: block;
        padding: 5px;
        border-radius: 50px;
    }
    .small_screen:hover {
        background-color: lightgray;
        cursor: pointer;
    }
    .bi-grid-3x3-gap-fill {
        display: none;
    }
    .post_box {
        margin-top: 20px;
    }
    .drop {
        display: block!important;
    }
    body::-webkit-scrollbar {}
}

@media screen and (min-width:650px) and (max-width:1000px) {
    .sidebar {
        display: none;
    }
    .header {
        margin: 0px;
        padding: 10px;
    }
    .mainbody {
        display: grid;
        margin: 0px 10px;
        margin-top: 15px;
        grid-template-columns: 1fr 0.5fr;
    }
    .small_screen {
        display: block;
        padding: 5px;
        border-radius: 50px;
    }
    .search_input {
        display: none;
    }
    .search_box {
        background-color: white !important;
    }
    .right_nav_text {
        display: none;
    }
}

@media screen and (min-width:375px) and (max-width:649px) {
    .jobs,
    .network {
        display: none;
    }
}


/* The message box style*/

.container {
    max-width: 1170px;
    margin: auto;
}

img {
    max-width: 100%;
}

.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}

.top_spac {
    margin: 20px 0 0;
}

.recent_heading {
    float: left;
    width: 40%;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
}

.headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}

.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

.chat_img {
    float: left;
    width: 11%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}

.inbox_chat {
    height: 550px;
    overflow-y: scroll;
}

.active_chat {
    background: #ebebeb;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 57%;
}

.mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sent_msg {
    float: right;
    width: 46%;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}

.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}

.messaging {
    padding: 0 0 50px 0;
}

.msg_history {
    height: 516px;
    overflow-y: auto;
}


/*Courses styles*/

.course-head {
    overflow: hidden;
    padding: 0 20px;
}

.courses {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.course {
    background-color: #fff;
    width: calc(95%/2);
    padding: 20px 0;
    margin: 20px 0px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.course img {
    width: 89px;
    border-radius: 50%;
    float: left;
    margin-right: 35px;
}

.description {
    float: left;
    width: calc(100% - 124px);
}

.description h2 {
    margin-bottom: 20px;
}

.description p {
    font-weight: lighter;
    color: #3a464b;
}

.description a {
    display: block;
    width: 70px;
    text-decoration: none;
    color: white;
    background: orange;
    text-align: center;
    border-radius: 50px;
    padding: 10px;
    margin: 15px 0 15px auto;
    transition: all 0.5s;
}

.description a:hover {
    color: black;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.course-bottom {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid #f0f0f0
}

.course-bottom p {
    color: orange;
}

.green {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.heading_course {
    color: orange;
    text-align: center;
    padding: 40px 0px;
}

@media(max-width:950px) {
    .courses {
        width: 90%;
    }
    .course {
        width: 100%;
    }
}


/* User Profile */

.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 100%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #0062cc;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 140px 0 100px 0;
}

#hero::before {
    content: '';
    position: absolute;
    right: -100%;
    top: 20%;
    width: 250%;
    height: 200%;
    z-index: -1;
    background-color: #e8ecf5;
    transform: skewY(135deg);
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    color: #5777ba;
    font-family: "Poppins", sans-serif;
}

#hero h2 {
    color: #515f7d;
    margin-bottom: 50px;
    font-size: 20px;
}

#hero .download-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    padding: 8px 24px 10px 46px;
    border-radius: 3px;
    transition: 0.5s;
    color: #fff;
    background: #47536e;
    position: relative;
}

#hero .download-btn:hover {
    background: #5777ba;
}

#hero .download-btn i {
    font-size: 20px;
    position: absolute;
    left: 18px;
    top: 8.5px;
}

#hero .download-btn+.download-btn {
    margin-left: 20px;
}

@media (max-width: 991px) {
    #hero {
        text-align: center;
    }
    #hero .download-btn+.download-btn {
        margin: 0 10px;
    }
    #hero .hero-img {
        text-align: center;
    }
    #hero .hero-img img {
        width: 60%;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #hero .hero-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
}


/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f2f5fa;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #5777ba;
    font-family: "Poppins", sans-serif;
}

.section-title p {
    margin-bottom: 0;
}


/*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/

.breadcrumbs {
    padding: 15px 0;
    background-color: #f6f8fb;
    min-height: 40px;
}

.breadcrumbs h2 {
    font-size: 24px;
    font-weight: 300;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }
    .breadcrumbs ol {
        display: block;
    }
    .breadcrumbs ol li {
        display: inline-block;
    }
}


/*--------------------------------------------------------------
  # App Features
  --------------------------------------------------------------*/

.features .content {
    padding: 30px 0;
}

.features .content .icon-box {
    margin-top: 25px;
}

.features .content .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px 60px;
}

.features .content .icon-box i {
    font-size: 48px;
    float: left;
    color: #5777ba;
}

.features .content .icon-box p {
    font-size: 15px;
    color: #979aa1;
    margin-left: 60px;
}

@media (max-width: 991px) {
    .features .image {
        text-align: center;
    }
    .features .image img {
        max-width: 80%;
    }
}

@media (max-width: 667px) {
    .features .image img {
        max-width: 100%;
    }
}


/*--------------------------------------------------------------
  # Details
  --------------------------------------------------------------*/

.details .content+.content {
    margin-top: 100px;
}

.details .content h3 {
    font-weight: 700;
    font-size: 32px;
    color: #47536e;
}

.details .content ul {
    list-style: none;
    padding: 0;
}

.details .content ul li {
    padding-bottom: 10px;
}

.details .content ul i {
    font-size: 24px;
    padding-right: 2px;
    color: #5777ba;
    line-height: 0;
}

.details .content p:last-child {
    margin-bottom: 0;
}


/*--------------------------------------------------------------
  # Gallery
  --------------------------------------------------------------*/

.gallery {
    overflow: hidden;
}

.gallery .swiper-slide {
    transition: 0.3s;
}

.gallery .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.gallery .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #5777ba;
}

.gallery .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #5777ba;
}

.gallery .swiper-slide-active {
    text-align: center;
}

@media (min-width: 992px) {
    .gallery .swiper-wrapper {
        padding: 40px 0;
    }
    .gallery .swiper-slide-active {
        border: 6px solid #5777ba;
        padding: 4px;
        background: #fff;
        z-index: 1;
        transform: scale(1.2);
        margin-top: 10px;
        border-radius: 25px;
    }
}


/*--------------------------------------------------------------
  # Frequently Asked Questions
  --------------------------------------------------------------*/

.faq .accordion-list {
    padding: 0 100px;
}

.faq .accordion-list ul {
    padding: 0;
    list-style: none;
}

.faq .accordion-list li+li {
    margin-top: 15px;
}

.faq .accordion-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
}

.faq .accordion-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
}

.faq .accordion-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #b1c0df;
}

.faq .accordion-list .icon-show,
.faq .accordion-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.faq .accordion-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.faq .accordion-list .icon-show {
    display: none;
}

.faq .accordion-list a.collapsed {
    color: #343a40;
}

.faq .accordion-list a.collapsed:hover {
    color: #5777ba;
}

.faq .accordion-list a.collapsed .icon-show {
    display: inline-block;
}

.faq .accordion-list a.collapsed .icon-close {
    display: none;
}

@media (max-width: 1200px) {
    .faq .accordion-list {
        padding: 0;
    }
}


/*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/

.contact .info {
    padding: 20px 40px;
    background: #f1f3f6;
    color: #47536e;
    text-align: center;
    border: 1px solid #fff;
}

.contact .info i {
    font-size: 48px;
    color: #9fb2d8;
    margin-bottom: 15px;
}

.contact .info h4 {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

.contact .info p {
    font-size: 15px;
}

.contact .php-email-form {
    width: 100%;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form label {
    font-family: "Poppins", sans-serif;
    margin-bottom: 5px;
    color: #8a8c95;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #5777ba;
}

.contact .php-email-form input {
    padding: 10px 15px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
    background: #fff;
    border: 2px solid #5777ba;
    padding: 10px 24px;
    color: #5777ba;
    transition: 0.4s;
    border-radius: 50px;
    margin-top: 5px;
}

.contact .php-email-form button[type="submit"]:hover {
    background: #5777ba;
    color: #fff;
}

@media (max-width: 1024px) {
    .contact .php-email-form {
        padding: 30px 15px 15px 15px;
    }
}

@media (max-width: 768px) {
    .contact .php-email-form {
        padding: 15px 0 0 0;
    }
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

#footer {
    background: #fff;
    padding: 0 0 30px 0;
    color: #47536e;
    font-size: 14px;
    background: #eff2f8;
}

#footer .footer-newsletter {
    padding: 50px 0;
    background: #eff2f8;
    text-align: center;
    font-size: 15px;
}

#footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #47536e;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #5777ba;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
    background: #415f9d;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    color: #47536e;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #8a8c95;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #47536e;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #9fb2d8;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #8a8c95;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #5777ba;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #5777ba;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #27282c;
    color: #fff;
    text-decoration: none;
}

#footer .copyright {
    text-align: center;
    float: left;
    color: #47536e;
}

#footer .credits {
    float: right;
    text-align: center;
    font-size: 13px;
    color: #47536e;
}

@media (max-width: 768px) {
    #footer .copyright,
    #footer .credits {
        float: none;
        text-align: center;
        padding: 5px 0;
    }
}