@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Alumni</h1>
    <p>Learn about <a href="https://mindworx.co.za/"> our Mindworx Alumni Platform</a>.</p>
</div>
