<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{page_layout/fragments :: head}">
</head>

<body>
    <div th:replace="~{page_layout/fragments :: preloader}"></div>

    <header th:replace="~{page_layout/fragments :: custom-header}"></header>
    <br>
    <div class="chatbox_body">
        <div id="messages">

        </div>
        <div id="user">
            <input type="text" id="msgbox" placeholder="Type a message..." />
            <button id="send">SEND</button>
        </div>
    </div>


    <script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js} "></script>
    <script th:src="@{/webjars/bootstrap/5.0.0/js/bootstrap.min.js} "></script>
    <script th:src="@{/webjars/jquery/dist/jquery.min.js} "></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js} " integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script>
    <script th:src="@{/styles/js/sidebars.js} "></script>
    <script>
        window.addEventListener("load", function() {
            const loader = document.querySelector(".wrap ");
            loader.className += " hidden ";
        })
    </script>

    <script>
        $(function() {
            var commands = {
                "random": "var rand = (Math.floor(Math.random() * 10)); incoming(rand);",
                "commands": "var objstr = JSON.stringify(commands); objstr = JSON.stringify(commands, null, 4); incoming(objstr)"
            }
            var responseSys = {
                "hi": "Hello There!",
                "bye": "GoodBye!",
                "i need assistance": "yes Alumni Academy offers you opportunity to excel with more courses.",
                "how do we Enroll with Alumin": "you need to be registered first",
                "how many Courses do you offer": "here is our courses html, java, javaScripts, python, Machine Learning, C#, SQL, etc."

            };

            function cmd(name, action) {
                commands[name] = action;
            }

            function outgoing(text) {
                var newMsg = "<div class='section right'><div class='message outgoing'>" + text + "</div></div>";
                $("#messages").append(newMsg);
            }

            function incoming(text) {
                var newMsg = "<div class='section left'><div class='message incoming'>" + text + "</div></div>";
                $("#messages").append(newMsg);
                window.scrollTo(0, parseInt($("#messages").innerHeight))
            }
            $("#send").click(function() {
                $("#msgbox").trigger("blur")
                var text = $("#msgbox").val();
                if (text != null && text != "") {
                    $("#msgbox").val("");
                    text = text.replace(/</ig, "&lt;");
                    text = text.replace(/>/ig, "&gt;");
                    text = text.replace(/\n/ig, "<br />");
                    outgoing(text);
                    reply(text)
                } else {
                    // Praise the Sun 
                    incoming("Please, don't send empty messages.")
                }
            });
            $("#msgbox").keyup(function(e) {
                if (e.which == 13) {
                    $("#send").trigger("click")
                } else {
                    // Do Nothing 
                }
            });
            incoming("Hello!<br />welcome to ChatBot for Alumni app. Feel Free to ask any question!?" +
                " any commands or functions but please don't change this message! If you do add to the code however, then feel free to add your name to the contributors message!<br /> sent help");


            function responses(msg, response) {
                msg = msg.toLowerCase();
                responseSys[msg] = response;
            }

            function reply(txt) {
                txt = txt.toLowerCase();
                if (txt[0] == "r" && txt[1] == "e" && txt[2] == "s" && txt[3] == "p" && txt[4] == "o" && txt[5] == "n" && txt[6] == "s" && txt[7] == "e" && txt[8] == "s" && txt[9] == "(") {
                    try {
                        eval(txt);
                    } catch (e) {
                        incoming(e);
                    }
                } else if (responseSys[txt] != undefined && responseSys[txt] != null && responseSys[txt] != "") {
                    incoming(responseSys[txt]);

                } else if (commands[txt] != null && commands[txt] != undefined && commands[txt] != "") {
                    try {
                        try {
                            eval(commands[txt])
                        } catch (e) {
                            incoming("Error Executing")
                        }
                    } catch (e) {
                        incoming("Command not defined")
                    }
                } else if (txt[0] == "c" && txt[1] == "m" && txt[2] == "d") {
                    try {
                        eval(txt)
                    } catch (e) {
                        incoming(e);
                    }
                } else {
                    incoming("sorry,command not defined ")
                }
            }
            responses("help", "#5,#4,#3,#2,#1,,,,что делаешь,привет,версия,создал,как настроение,,,1,2,3,4,5,,,,,hello,version,create,How are you feeling")
            responses("#5", "c тобой общаюсь")
            responses("#4", "1.05.2018")
            responses("#3", "v 2.3")
            responses("#2", "превосходно 😁 ")
            responses("#1", "привет,бро")
            responses("что делаешь", "c тобой общаюсь")
            responses("5", "chatting with you")
            responses("what are you doing", "chatting with you")
            responses("создал", "1.05.2018")
            responses("версия", "v 2.3.")
            responses("как настроение", "превосходно 😁")
            responses("привет", "привет,бро")
            responses("4", "1.05.2018")
            responses("3", "v 2.3")
            responses("2", "good 😁 ")
            responses("1", "hello, how can we help you?")
            responses("create", "1.05.2018")
            responses("version", "v 2.3.")
            responses("How are you feeling", "good 😁")
            responses("hello", "hello, how can we help you?")
        });
    </script>

</body>

</html>