<!-- The ThymeLeaf solution of the work.-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Leon Ndaba">
    <title>Sign-in · Alumni App</title>


    <!-- Bootstrap core CSS -->
    <link rel="icon" type="image/png" href="/img/theXlogo.jpg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css" integrity="sha512-+mlclc5Q/eHs49oIOCxnnENudJWuNqX5AogCiqRBgKnpoplPzETg2fkgBFVC6WYUVxYYljuxPNG8RE7yBy1K+g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" th:href="@{/styles/fontawesome/css/all.css}" integrity="undefined" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>

    <!-- Custom styles for this template -->
    <link th:href="@{/styles/css/signin.css}" rel="stylesheet">
    <link th:href="@{/styles/css/sidebars.css}" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">Alumni  <span style="color:#f37521;font-weight:bold">App</span></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" th:href="@{/alumdashboard}">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/career}">Career</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/Webinars}">Webinars</a>
                        </li>
                    </ul>
                    <div class="header-bar-menu">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/userprofile}"><span sec:authentication="name">Username</span></a></li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/logout}">Logout</a></li>
                        </ul>
                    </div>
                    <!-- .header-bar-menu -->
                </div>
            </div>
        </nav>
    </header>

    <br>
    <div id="outer-container">
        <div id="sidebar">
            <!---------------------- Sidebar Start ---------------->
            <div class="d-flex flex-column p-3 text-white bg-dark" style="width: 280px; height: 100vh;">
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link mb-4 active" aria-current="page">
                            <i class="fas fa-home fa-2x fa-fw"></i><span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link mb-4 text-white">
                            <i class="fas fa-desktop fa-2x fa-fw"></i><span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/courses}" class="nav-link mb-4  text-white">
                            <i class="fas fa-laptop fa-2x fa-fw"></i><span>Courses</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link mb-4 text-white">
                            <i class="fas fa-award fa-2x fa-fw"></i><span>Achievements</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link mb-3 text-white">
                            <i class="fas fa-comments fa-2x fa-fw"></i><span>Discussion</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="true">
                        <i alt="" width="32" height="32" class="rounded-circle me-2 "></i>
                        <strong><span sec:authentication="name">Username</span></strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" th:href="@{/userprofile}">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" th:href="@{/logout}">Sign out</a></li>
                    </ul>
                </div>
            </div>
            <!---------------------- Sidebar End ------------------>
        </div>
        <div id="content">
            <div class="container">
                <h1 class="mt-5">Feeds page. Alumni's main page</h1>

                <p class="lead">page to post on timeline, see other's feeds and courses suggested.</p>
            </div>
        </div>
    </div>
    <!-- Begin page content -->

    <!-- Login Script files-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script th:src="@{/webjars/popper.js/2.9.2/cjs/popper.js}"></script>
    <script th:src="@{/styles/js/sidebars.js}"></script>
    <script th:src="{/webjars/bootstrap/5.0.0/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>



</body>

</html>