<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="fragments">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Zamokuhle" />
    <title>Home · Alumni App </title>


    <!-- Bootstrap core CSS -->
    <link type="text/css" href="/webjars/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/styles/fontawesome/css/all.css}" integrity="undefined" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/img/theXlogo.jpg" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/styles/css/signin.css">

</head>

<body>

    <div layout:fragment="preloader"></div>

    <header layout:fragment="custom-header"></header>

    <!-- Begin page content -->
    <section class="flex-shrink-0" layout:fragment="custome-content">

    </section>



    <footer layout:fragment="custom-footer"> </footer>
    <th:block layout:fragment="script">
        <script>
            window.addEventListener("load", function() {
                const loader = document.querySelector(".wrap");
                loader.className += " hidden";
                console.log(loader);
            })
        </script>

        <script src="/webjars/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
        <script src="/webjars/jquery/dist/jquery.min.js"></script>

    </th:block>

</body>

</html>