<!-- The ThymeLeaf solution of the work.-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{page_layout/fragments.html :: head}"></head>

<body>

    <div th:replace="~{page_layout/fragments :: preloader}"></div>

    <header th:replace="~{page_layout/fragments :: custom-header}">

    </header>

    <hr>
    <br>
    <br>
    <div class="container mb-2">
        <form class="form-signin needs-validation  g-3" th:action="@{/login}" method="POST">
            <div class="text-center">
                <img class="mb-4" src="/img/theXlogo.jpg" alt="" width="80" height="80">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            </div>
            <div th:if="${param.error}" class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    Invalid username or password.
                </div>
            </div>
            <!-- <div  class="alert alert-danger" role="alert">
           
        </div> -->
            <div th:if="${param.logout}" class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                    You have been logged out.
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" name="username" id="username">
            </div>
            <div class="col-md-12 mb-3">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control " name="password" id="password">

                <input type="checkbox" name="password" onclick="showPassword()"> Show Password
            </div>
            <div class="text-center mt-4">
                <span class="txt1">
            Forgot
        </span>
                <a class="txt2" href="/forgot-password">
            Username / Password?
        </a>
            </div>
            <button class="w-100 btn btn-lg mt-4 btn-primary" type="submit">Sign in</button>

            <div class="text-center mt-4">
                <a class="txt2" href="/registration">
            Create your Account
            <i class="fas fas-long-arrow-right m-l-5" aria-hidden="true"></i>
        </a>
            </div>
        </form>
    </div>
    <br>
    <br>
    <br>
    <footer class="footer mt-auto py-4 pb-4 bg-light">
        <div class="container text-center">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>


    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

    <script>
        window.addEventListener("load", function() {
            const loader = document.querySelector(".wrap");
            loader.className += " hidden";
            console.log(loader);
        })
    </script>
    <!-- Login Script files-->


    <script>
        function showPassword() {
            var pass = document.getElementById("password");
            if (pass.type === "password") {
                pass.type = "text";
            } else {
                pass.type = "password";
            }
        }
    </script>

</body>

</html>