<!-- The ThymeLeaf solution of the work.-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Mathabo" />
    <title>Registration · Alumni App</title>

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/img/theXlogo.jpg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css" integrity="sha512-+mlclc5Q/eHs49oIOCxnnENudJWuNqX5AogCiqRBgKnpoplPzETg2fkgBFVC6WYUVxYYljuxPNG8RE7yBy1K+g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.0/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/styles/css/util.css">
    <link href="/styles/css/signin.css" rel="stylesheet">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
      </svg>

    <style>
        .container {
            width: auto;
            max-width: 680px;
            padding: 0 15px;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">Alumni  <span style="color:#f37521;font-weight:bold">App</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/}">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/faq.html">FAQ</a>
                        </li>
                    </ul>
                    <div class="header-bar-menu">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/registration}">REGISTER</a></li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/login}">LOGIN</a></li>
                        </ul>
                    </div>
                    <!-- .header-bar-menu -->
                </div>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <div class="container mt-4">
        <form class="row g-3 mx-auto form-signup needs-validation" method="POST" th:action="@{/registration}" th:object="${registrationRequest}" novalidate>
            <div th:if="${param.success}" class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                    Successfully registered, Click Login if not redirected.
                </div>
            </div>
            <div class="form-group row mt-4">
                <div class="col-md-6">
                    <label for="validationCustom01">First name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" th:field="*{firstName}" required></input>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="validationCustom02">Last name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name" th:field="*{lastName}" required></input>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <div class="form-group mt-3 row">
                <div class="col-md-6">
                    <label for="validationCustom02">Initials</label>
                    <input type="text" class="form-control" id="lastName" name="initials" placeholder="initials" required th:field="*{initials}"></input>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="validationCustomUsername">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                        </div>
                        <input type="text" class="form-control" id="Username" name="userName" placeholder="Username" aria-describedby="inputGroupPrepend" required th:field="*{userName}"></input>
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group mt-3 row">
                <div class=" col-md-6">
                    <label for="validationCustom01">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required th:field="*{email}"></input>
                    <div class="invalid-feedback">
                        Please provide a valid email.
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationCustom02">Date of Birth</label>
                    <input type="date" class="form-control" id="dateofbirth" name="dateofbirth" placeholder="Birthdate" required th:field="*{dateofBirth}"></input>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <div class="form-group mt-3 row">
                <div class="col-md-6">
                    <label for="validationCustomUsername">Password</label>
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend"><input type="checkbox" name="password" onclick="showPassword()">show</span>
                        </div>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" aria-describedby="inputGroupPrepend" required th:field="*{password}"></input>

                        <div id="errors" class="well"></div>
                        <div class="invalid-feedback">
                            Must enter password.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="validationCustomUsername">Password confirmation</label>
                    <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" aria-describedby="inputGroupPrepend" required></input>
                    <div class="invalid-feedback">
                        Must enter password.
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
                <div class="input-group">
                    <label class="input-group-text" for="gender">Specify Gender</label>
                    <select name="gender" id="gender" class="form-select">
                                <option  value="Male" th:field="*{gender}">Male</option>
                                <option  value="Female" th:field="*{gender}">Female</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                Employment
                <div class="form-check col-md-12 mb-2">
                    <input class="form-check-input" type="checkbox" id="alumEmployed" name="alumEmployed" th:checked="*{alumEmployed}"></input>
                    <label class="form-check-label" for="gridCheck1">
                                  Are you employed?
                                </label>
                </div>

                <label for="validationCustom01">Workplace if employed</label>
                <input type="text" class="form-control" id="alumWorkplace" name="alumWorkplace" placeholder="Works at" required th:field="*{alumWorkplace}"></input>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="form-group row mt-3">
                <div class="col-md-6">
                    <label for="validationCustom03">Home Address</label>
                    <input type="text" class="form-control" id="alumAddress" name="alumAddress" placeholder="Address" required th:field="*{alumAddress}"> </input>
                    <div class="invalid-feedback">
                        Please provide a valid address.
                    </div>
                </div>


                <div class="col-md-6 ">
                    <label for="validationCustom01">Your interests</label>
                    <input type="text" class="form-control" id="alumInterests" name="alumInterests" placeholder="Your interests" required th:field="*{alumInterests}"></input>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="form-check col-md-12">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required></input>
                    <label class="form-check-label" for="invalidCheck">
                  Agree to terms and conditions
                </label>
                    <div class="invalid-feedback">
                        You must agree before submitting.
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary   col-md-6" type="submit">Sign-up</button>
                </div>

            </div>


            <div class="text-center p-t-10 p-b-10">
                <span class="txt1">
                                Already have an Account?
                            </span>
                <a class="txt2" th:href="@{/login}">
                                 Sign-in
                            </a>
            </div>
        </form>
    </div>


    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>



    <!-- Login Script files-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/webjars/popper.js/2.9.2/cjs/popper.js"></script>
    <script src="/webjars/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="/webjars/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript" src="/styles/js/jquery.password-validation.js"></script>
    <script>
        $(document).ready(function() {
            $("#password").passwordValidation({
                "confirmField": "#confirmpassword"
            }, function(element, valid, match, failedCases) {

                $("#errors").html("<pre>" + failedCases.join("\n") + "</pre>");

                if (valid) $(element).css("border", "2px solid green");
                if (!valid) $(element).css("border", "2px solid red");
                if (valid && match) $("#confirmpassword").css("border", "2px solid green");
                if (!valid || !match) $("#confirmpassword").css("border", "2px solid red");
            });
        });
    </script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script>
        function showPassword() {
            var pass = document.getElementById("password");
            var confirmpass = document.getElementById("confirmpassword");
            if (pass.type === "password" || confirmpass.type === "password") {
                pass.type = "text";
                confirmpass.type = "text";
            } else {
                pass.type = "password";
                confirmpass.type = "password";
            }
        }
    </script>

    <!-- <script type="text/javascript" src="/styles/js/pwstrength-bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            options = {
                common: {
                    minChar: 8
                },
                ui: {
                    showVerdictsInsideProgressBar: true,
                    showErrors: true,
                    errorMessages: {
                        wordLength: '<spring:message code="error.wordLength"/>',
                        wordNotEmail: '<spring:message code="error.wordNotEmail"/>',
                        wordLowercase: '<spring:message code="error.wordLowercase"/>',
                        wordUppercase: '<spring:message code="error.wordUppercase"/>',
                        wordOneNumber: '<spring:message code="error.wordOneNumber"/>',
                        wordOneSpecialChar: '<spring:message code="error.wordOneSpecialChar"/>'
                    }
                }
            };
            $('#password').pwstrength(options);
        });
    </script> -->

</body>

</html>

























<!--    <div class="limiter">
        <div class="container-login100">
            <div class="register-view">

                <form action="/sign-up" method="POST" class="login100-form validate-form">
                    <div class="flex-col-l">
                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="text" name="firstName" placeholder="Enter first name">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                        </div>

                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="text" id="surname" name="lastName" placeholder="Enter last name">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
							<i class="fa fa-key" aria-hidden="true"></i>
						</span>
                        </div>

                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="text" id="username" name="userName" placeholder="Enter username">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
							<i class="fa fa-key" aria-hidden="true"></i>
						</span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                            <input class="input100" type="email" id="email" name="email" placeholder="Email">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                        </div>

                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="date" id="dateofbirth" name="dateofBirth" placeholder="Enter birth date">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
							<i class="fa fa-calendar-o" aria-hidden="true"></i>
						</span>
                        </div>
  
                        <div class="wrap-input100 validate-input">
                            <input type="radio" id="gender" name="gender" value="male"> Male<br>
                            <input type="radio" id="gender" name="gender" value="female"> Female<br>
                            <input type="radio" id="gender" name="gender" value="other"> Other<br>
                        </div>


                    </div>
                </form>
                <form th:action="/sign-up" th:method="POST" th:object="${user}" class="login100-form validate-form">
                    <div class="flex-col-r">
                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <input class="input100" type="password" id="createpsw" name="cpassword" placeholder="Create password">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-key" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <input class="input100" type="password" id="password" name="password" placeholder="Confirm password">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-key" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="text" id="initials" name="initials" placeholder="Enter initials">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-key" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="text" id="alumInterests" name="alumInterests" placeholder="Enter your interests">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-key" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="wrap-input100 validate-input">
                            <p>Are you employed?</p>
                            <input type="checkbox" id="alumEmployed" name="alumEmployed">
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="text" id="alumAddress" name="alumAddress" placeholder="Enter your address">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-key" aria-hidden="true"></i>
                            </span>
                        </div>


                    </div>
                    <div class="flex-row">
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Sign-up
                            </button>
                        </div>

                        <div class="text-center p-t-50">
                            <span class="txt1">
                                Already have an Account?
                            </span>
                            <a class="txt2" th:href="@{/login}">
                                 Sign-in
                            </a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>--->