<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mathabo">
    <title>Forgot Password · Alumni App</title>

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/img/theXlogo.jpg" />
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css" integrity="sha512-+mlclc5Q/eHs49oIOCxnnENudJWuNqX5AogCiqRBgKnpoplPzETg2fkgBFVC6WYUVxYYljuxPNG8RE7yBy1K+g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css}" integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA==" crossorigin="anonymous"
        referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.0/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/styles/css/util.css">
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->

    <link href="/styles/css/signin.css" rel="stylesheet">

</head>

<body class="flex-c-m">
    <div class="limiter">
        <div class="container-login100">
            <form class="login100-form validate-form">
                <span class="login100-form-title">
                   Forgot Password
                  </span>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="email" placeholder="Email">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                          <i class="fa fa-envelope" aria-hidden="true"></i>
                          </span>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                         Reset password
                     </button>
                </div>
            </form>
        </div>
    </div>

    <script src="/webjars/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="/webjars/jquery/dist/jquery.min.js"></script>
    <script>
        /**
         * verification script of email 
         * check if email exists in the database, 
         * if true - return " please check your email to reset password"
         * if false - return "Error: Email not recognised."
         */
    </script>
</body>

</html>