<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{page_layout/fragments.html :: head}"></head>

<body>
    <div th:replace="~{page_layout/fragments :: preloader}"></div>

    <header th:replace="~{page_layout/fragments :: custom-header}">

    </header>

    <br>
    <div id="outer-container mt-1">

        <div id="sidebar" th:include="~{page_layout/fragments :: custome-sidebar}"></div>
        <!-- Begin page content -->
        <div id="content">
            <br>
            <h1>My Skills</h1>

            <p>HTML</p>
            <div class="container">
                <div class="skills html">90%</div>
            </div>

            <p>CSS</p>
            <div class="container">
                <div class="skills css">80%</div>
            </div>

            <p>JavaScript</p>
            <div class="container">
                <div class="skills js">65%</div>
            </div>

            <p>PHP</p>
            <div class="container">
                <div class="skills php">60%</div>
            </div>


            <p>Java</p>
            <div class="container">
                <div class="skills java">50%</div>
            </div>



            <p>Ruby</p>
            <div class="container">
                <div class="skills ruby">100%</div>
            </div>


            <p>SQL Fundametals</p>
            <div class="container">
                <div class="skills sql">90%</div>
            </div>


            <p>C#</p>
            <div class="container">
                <div class="skills php">70%</div>
            </div>
        </div>

</body>

</html>