<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{page_layout/fragments.html :: head}"></head>

<body>

    <div th:replace="~{page_layout/fragments :: preloader}"></div>

    <header th:replace="~{page_layout/fragments :: custom-header}">

    </header>

    <br>
    <div id="outer-container mt-1">

        <div id="sidebar" th:include="~{page_layout/fragments :: custome-sidebar}"></div>
        <!-- Begin page content -->
        <div id="content">
            <div class="mainbody">
                <div class="posts">
                    <div th:object="${Profile}" class="post_box">
                        <div class="input">
                            <div class="input_text">
                                <img th:src="@{${Profile.ProfileImagepath}}" alt="no image" class=" profile rounded-circle me-2">
                                <!-- select and pop-up post -->
                                <a href="#" class="post_input" id="post_input"> start a post </a>
                            </div>
                            <div class="input_blocks">
                                <div class="input_option">
                                    <div class="option"><i class="bi bi-image" style="color:lightblue"></i> </div>
                                    <div class="option_text">Photo</div>
                                    <!-- Select and pop-up window dialog image type and discription input-->
                                </div>
                                <div class="input_option">
                                    <div class="option"><i class="bi bi-play-btn-fill" style="color:lightgreen"></i> </div>
                                    <div class="option_text">Video</div>
                                    <!-- Select and pop-up window dialog for video type and discription input-->
                                </div>
                                <div class="input_option">
                                    <div class="option"><i class="bi bi-calendar-event" style="color:orange"></i> </div>
                                    <div class="option_text">Event</div>
                                    <!-- Select and pop-up event and discription input-->
                                </div>
                                <div class="input_option">
                                    <div class="option"><i class="bi bi-card-text" style="color:crimson"></i> </div>
                                    <div class="option_text">Write article</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <ul class="post_item" style="list-style-type: none;padding-left: 0px;">
                        <li th:each="Post : ${Posts}">
                            <!-- <div class="post_item"> -->
                            <div class="post_item_header">
                                <div class="post_item_info">
                                    <!-- dynamic picture, according to user's post-->
                                    <img src="/img/zachayO.jpg" alt="no image" class="post_profile" style="height:60px">
                                    <div class="post_item_owner" style="margin-left:8px;">
                                        <!-- dynamic content username of poster-->
                                        <a href="#" class="act_title">[[${Profile.firstName}]] [[${Profile.lastName}]]</a>
                                    </div>
                                </div>
                                <i class="bi bi-three-dots" style="padding:5px;"></i>
                            </div>

                            <div class="post_item_body_info">
                                <!--dynamic post discription content here-->
                                <p th:text="${Post.strDiscription}" style="font-size: 0.95rem;">Published new video on Customer Benefits Easy, Fast and Trusted online payments for your customers.
                                </p>
                            </div>
                            <!--if user posted an image or video display it here-->
                            <img th:src="${Post.postedfilefolder}" />
                            <!-- <video width="100%" muted controls autoplay loop class="post_iten_body_video" style="outline:none;">
                                <source src="/video/ozow_ad.mp4" type="video/mp4">
                                 </video> -->

                            <div class="post_item_comment_info">
                                <img src="1.svg" alt="">
                                <img src="2.svg" alt="">
                                <img src="3.svg" alt="">
                                <!-- dropdown list to show all comments on this post-->
                                <span class="account_name">20 . Comments</span>

                            </div>

                            <div class="post_item_footer">
                                <div class="footer_item">
                                    <i class="bi bi-hand-thumbs-up"></i>
                                    <!--post likes-->
                                    <div>Like</div>
                                </div>
                                <div class="footer_item">
                                    <i class="bi bi-chat-text"></i>
                                    <div>Comment</div>
                                </div>
                                <div class="footer_item">
                                    <i class="bi bi-arrow-90deg-right"></i>
                                    <div>Share</div>

                                </div>
                                <div class="footer_item">

                                    <i class="bi bi-cursor-fill"></i>
                                    <div>Send</div>

                                </div>


                            </div>
                            <!-- </div> -->
                        </li>
                    </ul>

                </div>
                <div class="activity">

                    <div class="news ">

                        <div class="news_head ">
                            <div class="news_title ">Linkedln News</div>
                            <i class="bi bi-info-square-fill " style="font-size:15px; "></i>
                        </div>
                        <br>

                        <div class="new_list ">
                            <div class="act_title " style="display: flex;flex-direction: row;align-items: flex-start; ">
                                <i class="bi bi-record-fill " style="font-size:14px;margin-right:10px;display:block;margin-top:5px; "></i> Indian crosses 3,58,974 daily cases
                            </div>
                            <div style="margin-left:25px; " class="account_name ">10h ago - 5,043 readers</div>
                        </div>


                        <div class="new_list ">
                            <div class="act_title " style="display: flex;flex-direction: row;align-items: flex-start; ">
                                <i class="bi bi-record-fill " style="font-size:14px;margin-right:10px;display:block;margin-top:5px; "></i> Zomato files for $1.18 IPO
                            </div>
                            <div style="margin-left:25px; " class="account_name ">13h ago - 52,043 readers</div>
                        </div>
                        <div class="new_list ">
                            <div class="act_title " style="display: flex;flex-direction: row;align-items: flex-start; ">
                                <i class="bi bi-record-fill " style="font-size:14px;margin-right:10px;display:block;margin-top:5px; "></i> Jobs pay ,in IT soar
                            </div>
                            <div style="margin-left:25px; " class="account_name ">1d ago - 7865 readers</div>
                        </div>

                        <div class="new_list ">
                            <div class="act_title " style="display: flex;flex-direction: row;align-items: flex-start; ">
                                <i class="bi bi-record-fill " style="font-size:14px;margin-right:10px;display:block;margin-top:5px; "></i> Google saving $1B a year from WFH
                            </div>
                            <div style="margin-left:25px; " class="account_name ">2d ago - 7865 readers</div>
                        </div>
                    </div>

                    <div class="news ">

                        <div class="news_head ">
                            <div class="news_title ">Today's most viewed courses</div>
                            <i class="bi bi-info-square-fill " style="font-size:15px; "></i>
                        </div>
                        <br>

                        <div class="new_list ">
                            <div class="act_title " style="display: flex;flex-direction: row;align-items: flex-start; ">
                                <i class="bi bi-record-fill " style="font-size:14px;margin-right:10px;display:block;margin-top:5px; "></i> Indian crosses 3,58,974 daily cases
                            </div>
                            <div style="margin-left:25px; " class="account_name ">Top news 9874 - reviews</div>
                        </div>

                        <div class="new_list ">
                            <div class="act_title " style="display: flex;flex-direction: row;align-items: flex-start; ">
                                <i class="bi bi-record-fill " style="font-size:14px;margin-right:10px;display:block;margin-top:5px; "></i> Indian crosses 3,58,974 daily cases
                            </div>
                            <div style="margin-left:25px; " class="account_name ">Top news 9874 - reviews</div>
                        </div>
                    </div>

                    <div class="news ">
                        <div class="news_head ">
                            <div class="news_title act_title ">Add to your feed</div>
                            <i class="bi bi-info-square-fill " style="font-size:15px; "></i>
                        </div>
                        <br>
                        <div class="account_feed ">
                            <img src="/img/unilever.png " alt="no image " class="account_picture ">
                            <div class="account_info ">
                                <p class="act_title ">Unilever</p>
                                <p class="account_name ">Company - Consuumer Goods</p>
                                <div class="follow ">
                                    + Follow
                                </div>
                            </div>
                        </div>
                        <div class="account_feed ">
                            <img src="/img/whiteX.jpg" alt="no image " class="account_picture ">
                            <div class="account_info ">
                                <h4 class="act_title ">Mindworx Academy </h4>
                                <p class="account_name ">Company - Consulting</p>

                                <div class="follow ">
                                    + Follow
                                </div>
                            </div>
                        </div>

                        <div class="account_feed ">
                            <img src="/img/SB-fc-stacked.jpg " alt="no image " class="account_picture ">
                            <div class="account_info ">
                                <h4 class="act_title ">Standard Bank</h4>
                                <p class="account_name ">Company - Banking</p>

                                <div class="follow ">
                                    + Follow
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:object="${Profile}" class="popup">
                    <form class="popup-content" method="POST" th:action="@{/account/home/addpost}" th:object="${postingRequest}" enctype="multipart/form-data">

                        <div class="close">
                            <i class="bi bi-x-circle "></i>
                        </div>
                        <div class="post_item_header">
                            <div class="post_item_info">
                                <!-- dynamic picture, according to user's post-->
                                <img th:src="@{${ProfileImagepath}}" alt="no image" class="profile rounded-circle me-2">
                                <div class="post_item_owner" style="margin-left:8px;">
                                    <!-- dynamic content username of poster-->
                                    <a href="#" class="act_title"> <span th:text="${Profile.firstName}"></span> <span th:text="${Profile.lastName}"></span></a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <textarea id="txtDescription" type="text" placeholder="What would you like to share?" required th:field="*{strDiscription}"></textarea>
                            <p> <img id="blah" src="#" alt="your image" /></p>
                        </div>
                        <input accept="image/png, image/jpeg" type='file' name="fileImage" id="imgInp" />
                        <div class="post-footer-items">
                            <div class="input_blocks">
                                <div class="input_option">
                                    <div class="option"><i class="bi bi-image" style="color:lightblue"></i> </div>
                                    <div class="option_text">Photo</div>
                                    <!-- Select and pop-up window dialog image type and discription input-->
                                </div>
                                <div class="input_option">
                                    <div class="option"><i class="bi bi-play-btn-fill" style="color:lightgreen"></i> </div>
                                    <div class="option_text">Video</div>
                                    <!-- Select and pop-up window dialog for video type and discription input-->
                                </div>
                                <div class="input_option">
                                    <div class="option"><i class="bi bi-calendar-event" style="color:orange"></i> </div>
                                    <div class="option_text">Event</div>
                                    <!-- Select and pop-up event and discription input-->
                                </div>
                                <div class="input_option">
                                    <div class="option"><i class="bi bi-card-text" style="color:crimson"></i> </div>
                                    <div class="option_text">Write article</div>
                                </div>
                                <button class="btn-0" type="submit">Post</button>
                            </div>

                        </div>

                    </form>
                </div>

            </div>
        </div>

    </div>

    <script>
        document.getElementById("post_input").addEventListener("click", function() {
            document.querySelector(".popup").style.display = "flex";
        })

        document.querySelector(".close").addEventListener("click", function() {
            document.querySelector(".popup").style.display = "none";
        })

        imgInp.onchange = evt => {
            const [file] = imgInp.files
            if (file) {
                blah.src = URL.createObjectURL(file)
            }
        }
    </script>

</body>

</html>