<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Leon Ndaba">
    <title>Home · Alumni App</title>


    <!-- Bootstrap core CSS -->
    <link rel="icon" type="image/png" href="/img/theXlogo.jpg" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css}" integrity="sha512-+mlclc5Q/eHs49oIOCxnnENudJWuNqX5AogCiqRBgKnpoplPzETg2fkgBFVC6WYUVxYYljuxPNG8RE7yBy1K+g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css}" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css}" />
    <link rel="stylesheet" th:href="@{/styles/fontawesome/css/all.css}">


    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>

    <!-- Custom styles for this template -->
    <link th:href="@{/styles/css/signin.css}" rel="stylesheet">
    <link th:href="@{/styles/css/sidebars.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/css/feedsstyle.css}">
</head>

<body>

    <div class="wrap">
        <div class="loading">
            <div class="bounceball"></div>
            <div class="text">WELCOME HOME</div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">Alumni  <span style="color:#f37521;font-weight:bold">App</span></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" th:href="@{/account/courses}">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/account/admin}">Career</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/Webinars}">Webinars</a>
                        </li>
                    </ul>
                    <div class="header-bar-menu">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/userprofile}"><span sec:authentication="name">Username</span></a></li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/logout}">Logout</a></li>
                        </ul>
                    </div>
                    <!-- .header-bar-menu -->
                </div>
            </div>
        </nav>
    </header>

    <br>
    <div id="outer-container mt-1">
        <div id="sidebar">
            <!---------------------- Sidebar Start ---------------->
            <div class="d-flex flex-column p-3 text-white bg-dark" style="width: 280px; height: 100%;">
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link mb-4 active" aria-current="page">
                            <i class="fas fa-home fa-1x fa-fw"></i><span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/account/courses}" class="nav-link mb-4  text-white">
                            <i class="fas fa-laptop fa-1x fa-fw"></i><span>Courses</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link mb-4 text-white">
                            <i class="fas fa-award fa-1x fa-fw"></i><span>Achievements</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/account/discuss}" class="nav-link mb-3 text-white">
                            <i class="fas fa-comments fa-1x fa-fw"></i><span>Discussion</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/img/zachayO.jpg" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong><span sec:authentication="name">Username</span></strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" th:href="@{/account/userprofile}">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" th:href="@{/logout}">Sign out</a></li>
                    </ul>
                </div>
            </div>
            <!---------------------- Sidebar End ------------------>
        </div>
        <!-- Begin page content -->
        <div id="content">
            <div class="mainbody">
                <div class="posts">
                    <div class="post_box">
                        <div class="input">
                            <div class="input_text">
                                <img src="/img/zachayO.jpg" alt="no image" class=" profile rounded-circle me-2">
                                <input type="text" value="start a post" class="post_input">
                            </div>
                            <div class="input_blocks">
                                <div class="input_option">
                                    <div class="option"><i class="bi bi-image" style="color:lightblue"></i> </div>
                                    <div class="option_text">Photo</div>
                                </div>
                                <div class="input_option">
                                    <div class="option"><i class="bi bi-play-btn-fill" style="color:lightgreen"></i> </div>
                                    <div class="option_text">Video</div>
                                </div>
                                <div class="input_option">
                                    <div class="option"><i class="bi bi-calendar-event" style="color:orange"></i> </div>
                                    <div class="option_text">Event</div>
                                </div>
                                <div class="input_option">
                                    <div class="option"><i class="bi bi-card-text" style="color:crimson"></i> </div>
                                    <div class="option_text">Write article</div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="post_item">
                        <div class="post_item_header">
                            <div class="post_item_info">
                                <img src="/img/SAA.png" alt="no image" class="post_profile" style="height:60px">
                                <div class="post_item_owner" style="margin-left:8px;">
                                    <a href="#" class="act_title">SAA Group</a>
                                    <p class="account_name">792,456 Followers</p>
                                    <p class="account_name">Promoted</p>
                                </div>
                            </div>
                            <i class="bi bi-three-dots" style="padding:5px;"></i>
                        </div>

                        <div class="post_item_body_info">
                            <p style="font-size: 0.95rem;"></p>
                        </div>


                        <img src="/img/adSAA.png" alt="noom" class="post_item_body_video" style="width:100%;">

                        <div class="post_item_comment_info">
                            <img src="1.svg" alt="">
                            <img src="2.svg" alt="">
                            <img src="3.svg" alt="">
                            <span class="account_name">20 . Comments</span>

                        </div>

                        <div class="post_item_footer">
                            <div class="footer_item">
                                <i class="bi bi-hand-thumbs-up"></i>
                                <div>Like</div>
                            </div>
                            <div class="footer_item">
                                <i class="bi bi-chat-text"></i>
                                <div>Comment</div>
                            </div>
                            <div class="footer_item">
                                <i class="bi bi-arrow-90deg-right"></i>
                                <div>Share</div>

                            </div>
                            <div class="footer_item">

                                <i class="bi bi-cursor-fill"></i>
                                <div>Send</div>

                            </div>


                        </div>
                    </div>


                    <div class="post_item">
                        <div class="post_item_header">
                            <div class="post_item_info">
                                <img src="/img/ozow-black.png" alt="no image" class="post_profile" style="height:60px">
                                <div class="post_item_owner" style="margin-left:8px;">
                                    <a href="#" class="act_title">Ozow Ltd </a>
                                    <p class="account_name">483k - Followers</p>
                                    <p class="account_name">Youtube Channel</p>
                                </div>
                            </div>
                            <i class="bi bi-three-dots" style="padding:5px;"></i>
                        </div>

                        <div class="post_item_body_info">
                            <p style="font-size: 0.95rem;">Published new video on Customer Benefits Easy, Fast and Trusted online payments for your customers.
                            </p>
                        </div>

                        <video width="100%" muted controls autoplay loop class="post_iten_body_video" style="outline:none;">
                        <source src="/video/ozow_ad.mp4" type="video/mp4">
                    </video>

                        <div class="post_item_comment_info">
                            <img src="1.svg" alt="">
                            <img src="2.svg" alt="">
                            <img src="3.svg" alt="">
                            <span class="account_name">20 . Comments</span>

                        </div>

                        <div class="post_item_footer">
                            <div class="footer_item">
                                <i class="bi bi-hand-thumbs-up"></i>
                                <div>Like</div>
                            </div>
                            <div class="footer_item">
                                <i class="bi bi-chat-text"></i>
                                <div>Comment</div>
                            </div>
                            <div class="footer_item">
                                <i class="bi bi-arrow-90deg-right"></i>
                                <div>Share</div>

                            </div>
                            <div class="footer_item">

                                <i class="bi bi-cursor-fill"></i>
                                <div>Send</div>

                            </div>


                        </div>
                    </div>

                    <div class="post_item">
                        <div class="post_item_header">
                            <div class="post_item_info">
                                <img src="/img/good-faces.jpg " alt="no image " width="32" height="32" class="rounded-circle me-2" style="height:60px ">
                                <div class="post_item_owner " style="margin-left:8px; ">
                                    <a href="# " class="act_title ">Techniczoid </a>
                                    <p class="account_name ">10 Million - Followers</p>
                                    <p class="account_name ">Youtube Channel</p>
                                </div>
                            </div>
                            <i class="bi bi-three-dots " style="padding:5px; "></i>
                        </div>

                        <div class="post_item_body_info ">
                            <p style="font-size: 0.95rem; ">I want to intern at CRED. Here's my application. I figured that if I was going to apply, I'd make something worth it. It pays to be good. Cc: Kunal Shah Harish Sivaramakrishnan
                            </p>
                        </div>

                        <div class="post_item_comment_info ">
                            <img src="1.svg " alt=" ">
                            <img src="2.svg " alt=" ">
                            <img src="3.svg " alt=" ">
                            <span class="account_name ">20 . Comments</span>

                        </div>

                        <div class="post_item_footer ">
                            <div class="footer_item ">
                                <i class="bi bi-hand-thumbs-up "></i>
                                <div>Like</div>
                            </div>
                            <div class="footer_item ">
                                <i class="bi bi-chat-text "></i>
                                <div>Comment</div>
                            </div>
                            <div class="footer_item ">
                                <i class="bi bi-arrow-90deg-right "></i>
                                <div>Share</div>

                            </div>
                            <div class="footer_item ">

                                <i class="bi bi-cursor-fill "></i>
                                <div>Send</div>

                            </div>


                        </div>
                    </div>





                </div>
                <div class="activity ">

                    <div class="news ">

                        <div class="news_head ">
                            <div class="news_title ">Linkedln News</div>
                            <i class="bi bi-info-square-fill " style="font-size:15px; "></i>
                        </div>
                        <br>

                        <div class="new_list ">
                            <div class="act_title " style="display: flex;flex-direction: row;align-items: flex-start; ">
                                <i class="bi bi-record-fill " style="font-size:14px;margin-right:10px;display:block;margin-top:5px; "></i> Indian crosses 3,58,974 daily cases
                            </div>
                            <div style="margin-left:25px; " class="account_name ">10h ago - 5,043 readers</div>
                        </div>


                        <div class="new_list ">
                            <div class="act_title " style="display: flex;flex-direction: row;align-items: flex-start; ">
                                <i class="bi bi-record-fill " style="font-size:14px;margin-right:10px;display:block;margin-top:5px; "></i> Zomato files for $1.18 IPO
                            </div>
                            <div style="margin-left:25px; " class="account_name ">13h ago - 52,043 readers</div>
                        </div>
                        <div class="new_list ">
                            <div class="act_title " style="display: flex;flex-direction: row;align-items: flex-start; ">
                                <i class="bi bi-record-fill " style="font-size:14px;margin-right:10px;display:block;margin-top:5px; "></i> Jobs pay ,in IT soar
                            </div>
                            <div style="margin-left:25px; " class="account_name ">1d ago - 7865 readers</div>
                        </div>

                        <div class="new_list ">
                            <div class="act_title " style="display: flex;flex-direction: row;align-items: flex-start; ">
                                <i class="bi bi-record-fill " style="font-size:14px;margin-right:10px;display:block;margin-top:5px; "></i> Google saving $1B a year from WFH
                            </div>
                            <div style="margin-left:25px; " class="account_name ">2d ago - 7865 readers</div>
                        </div>
                    </div>

                    <div class="news ">

                        <div class="news_head ">
                            <div class="news_title ">Today's most viewed courses</div>
                            <i class="bi bi-info-square-fill " style="font-size:15px; "></i>
                        </div>
                        <br>

                        <div class="new_list ">
                            <div class="act_title " style="display: flex;flex-direction: row;align-items: flex-start; ">
                                <i class="bi bi-record-fill " style="font-size:14px;margin-right:10px;display:block;margin-top:5px; "></i> Indian crosses 3,58,974 daily cases
                            </div>
                            <div style="margin-left:25px; " class="account_name ">Top news 9874 - reviews</div>
                        </div>

                        <div class="new_list ">
                            <div class="act_title " style="display: flex;flex-direction: row;align-items: flex-start; ">
                                <i class="bi bi-record-fill " style="font-size:14px;margin-right:10px;display:block;margin-top:5px; "></i> Indian crosses 3,58,974 daily cases
                            </div>
                            <div style="margin-left:25px; " class="account_name ">Top news 9874 - reviews</div>
                        </div>
                    </div>

                    <div class="news ">
                        <div class="news_head ">
                            <div class="news_title act_title ">Add to your feed</div>
                            <i class="bi bi-info-square-fill " style="font-size:15px; "></i>
                        </div>
                        <br>
                        <div class="account_feed ">
                            <img src="/img/unilever.png " alt="no image " class="account_picture ">
                            <div class="account_info ">
                                <p class="act_title ">Unilever</p>
                                <p class="account_name ">Company - Consuumer Goods</p>
                                <div class="follow ">
                                    + Follow
                                </div>
                            </div>
                        </div>
                        <div class="account_feed ">
                            <img src="/img/whiteX.jpg" alt="no image " class="account_picture ">
                            <div class="account_info ">
                                <h4 class="act_title ">Mindworx Academy </h4>
                                <p class="account_name ">Company - Consulting</p>

                                <div class="follow ">
                                    + Follow
                                </div>
                            </div>
                        </div>

                        <div class="account_feed ">
                            <img src="/img/SB-fc-stacked.jpg " alt="no image " class="account_picture ">
                            <div class="account_info ">
                                <h4 class="act_title ">Standard Bank</h4>
                                <p class="account_name ">Company - Banking</p>

                                <div class="follow ">
                                    + Follow
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Login Script files-->
    <script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js} "></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js} " integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script>
    <script th:src="@{/styles/js/sidebars.js} "></script>
    <script th:src="@{/webjars/bootstrap/5.0.0/js/bootstrap.min.js} "></script>
    <script th:src="@{/webjars/jquery/dist/jquery.min.js} "></script>
    <script>
        window.addEventListener("load", function() {
            const loader = document.querySelector(".wrap ");
            loader.className += " hidden ";
            console.log(loader);
        })
    </script>


</body>

</html>