<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{page_layout/fragments.html :: head}"></head>

<body>

    <!----------header------->
    <header th:fragment="custom-header">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">Alumni  <span style="color:#f37521;font-weight:bold">App</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/account/home}">Home</a>
                        </li>
                        <li sec:authorize="hasAuthority('ALUMNI') " class="nav-item">
                            <a class="nav-link " aria-current="page" th:href="@{/account/courses}">ALL JOBS</a>
                        </li>
                        <li sec:authorize="isAuthenticated() == false" class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                        </li>
                        <li sec:authorize="hasAuthority('ALUMNI')" class="nav-item">
                            <a class="nav-link" th:href="@{/account/Careers}">INTERNSHIPS</a>
                        </li>
                        <li sec:authorize="hasAuthority('ALUMNI')" class="nav-item">
                            <a class="nav-link" href="http://www.info-desk.co.za/big-company-vacancies/">COMPANIES</a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link" th:href="@{/Webinars}">WALK-IN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://provincialgovernment.co.za/vacancies/">GOVT. JOBS</a>
                        </li>
                    </ul>
                    <div class="header-bar-menu">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li sec:authorize="isAuthenticated()" class="nav-item">
                                <a class="nav-link" th:href="@{/account/profile}"><span sec:authentication="principal.fullname">Username</span></a></li>
                            <li sec:authorize="isAuthenticated()" class="nav-item">
                                <a class="nav-link" th:href="@{/logout}">Logout</a></li>
                            <li sec:authorize="isAuthenticated() == false" class="nav-item">
                                <a class="nav-link" th:href="@{/registration}">REGISTER</a></li>
                            <li sec:authorize="isAuthenticated() == false" class="nav-item">
                                <a class="nav-link" th:href="@{/login}">LOGIN</a></li>
                        </ul>
                    </div>
                    <!-- .header-bar-menu -->
                </div>
            </div>
        </nav>
    </header>
    <div class="search-job text-center">
        <input type="text" class="form-control" placeholder="search keyword">
        <input type="text" class="form-control" placeholder="company">
        <input type="text" class="form-control" placeholder="location">
        <input type="button" class="btn btn-primary" value="Find Job">
    </div>

    <!------------top recruiters---------------->
    <section id="recruiters">
        <div class="container text-center">
            <h3>TOP RECRUITERS</h3>
        </div>
        <div>
            <img src="/img/DEll.png">
            <img src="/img/oracle.png">
            <img src="/img/cisco.png">
            <img src="/img/netflix.png">
            <img src="/img/affect.png">
            <img src="/img/amazon.png">
        </div>

        <div>
            <img src="/img/infosys.png">
            <img src="/img/byjus.png">
            <img src="/img/indeed.png">
            <img src="/img/tnw.png">
            <img src="/img/danone.png">
            <img src="/img/IBM.png">
        </div>

        <div>

            <img src="/img/IDC.png">
            <img src="/img/fedex.png">
            <img src="/img/forbes.png">

        </div>

        </div>
    </section>


    <!--------Recent Jobs------------>
    <section id="jobd">
        <div class="container">
            <h5>RECENT UPDATES</5>
                <div class="company-details">
                    <div class="job-update">
                        <h4><b>Seasoned Senior Python Developer</b></h4>
                        <p>XYZ Solution Pvt Ltd</P>
                        <i class="fa fa-briefcase"></i><span> 0-1yrs</span><br>
                        <i class="fa fa-briefcase"></i><span> 250 000 - 350 000 p. a.</span><br>
                        <i class="fa fa-briefcase"></i><span> Bangalore</span>
                        <p>Skills <i class="fa angle-double-right"></i><small>java</small>
                            <small>python</small><small>HTML,CSS</small><small>.Net</small></p>
                        <p>Description<i class="fa angle-double-right"></i>
                    </div>
                    <div class="apply-btn">
                        <button type="button" class="btn btn-primary">Apply</button>
                    </div>
                </div>
        </div>

    </section>

    <body>


</html>