<div class="mainbody">
    <div class="posts">
        <div class="post_box">
            <div class="input">
                <div class="input_text">
                    <img src="/img/zachayO.jpg" alt="no image" class=" profile rounded-circle me-2">
                    <input type="text" value="start a post" class="post_input">
                </div>
                <div class="input_blocks">
                    <div class="input_option">
                        <div class="option"><i class="bi bi-image" style="color:lightblue"></i> </div>
                        <div class="option_text">Photo</div>
                    </div>
                    <div class="input_option">
                        <div class="option"><i class="bi bi-play-btn-fill" style="color:lightgreen"></i> </div>
                        <div class="option_text">Video</div>
                    </div>
                    <div class="input_option">
                        <div class="option"><i class="bi bi-calendar-event" style="color:orange"></i> </div>
                        <div class="option_text">Event</div>
                    </div>
                    <div class="input_option">
                        <div class="option"><i class="bi bi-card-text" style="color:crimson"></i> </div>
                        <div class="option_text">Write article</div>
                    </div>
                </div>
            </div>

        </div>


        <div class="post_item">
            <div class="post_item_header">
                <div class="post_item_info">
                    <img src="/img/SAA.png" alt="no image" class="post_profile" style="height:60px">
                    <div class="post_item_owner" style="margin-left:8px;">
                        <a href="#" class="act_title">SAA Group</a>
                        <p class="account_name">792,456 Followers</p>
                        <p class="account_name">Promoted</p>
                    </div>
                </div>
                <i class="bi bi-three-dots" style="padding:5px;"></i>
            </div>

            <div class="post_item_body_info">
                <p style="font-size: 0.95rem;"></p>
            </div>


            <img src="/img/adSAA.png" alt="noom" class="post_item_body_video" style="width:100%;">

            <div class="post_item_comment_info">
                <img src="1.svg" alt="">
                <img src="2.svg" alt="">
                <img src="3.svg" alt="">
                <span class="account_name">20 . Comments</span>

            </div>

            <div class="post_item_footer">
                <div class="footer_item">
                    <i class="bi bi-hand-thumbs-up"></i>
                    <div>Like</div>
                </div>
                <div class="footer_item">
                    <i class="bi bi-chat-text"></i>
                    <div>Comment</div>
                </div>
                <div class="footer_item">
                    <i class="bi bi-arrow-90deg-right"></i>
                    <div>Share</div>

                </div>
                <div class="footer_item">

                    <i class="bi bi-cursor-fill"></i>
                    <div>Send</div>

                </div>


            </div>
        </div>


        <div class="post_item">
            <div class="post_item_header">
                <div class="post_item_info">
                    <img src="/img/ozow-black.png" alt="no image" class="post_profile" style="height:60px">
                    <div class="post_item_owner" style="margin-left:8px;">
                        <a href="#" class="act_title">Ozow Ltd </a>
                        <p class="account_name">483k - Followers</p>
                        <p class="account_name">Youtube Channel</p>
                    </div>
                </div>
                <i class="bi bi-three-dots" style="padding:5px;"></i>
            </div>

            <div class="post_item_body_info">
                <p style="font-size: 0.95rem;">Published new video on Customer Benefits Easy, Fast and Trusted online payments for your customers.
                </p>
            </div>

            <video width="100%" muted controls autoplay loop class="post_iten_body_video" style="outline:none;">
            <source src="/video/ozow_ad.mp4" type="video/mp4">
        </video>

            <div class="post_item_comment_info">
                <img src="1.svg" alt="">
                <img src="2.svg" alt="">
                <img src="3.svg" alt="">
                <span class="account_name">20 . Comments</span>

            </div>

            <div class="post_item_footer">
                <div class="footer_item">
                    <i class="bi bi-hand-thumbs-up"></i>
                    <div>Like</div>
                </div>
                <div class="footer_item">
                    <i class="bi bi-chat-text"></i>
                    <div>Comment</div>
                </div>
                <div class="footer_item">
                    <i class="bi bi-arrow-90deg-right"></i>
                    <div>Share</div>

                </div>
                <div class="footer_item">

                    <i class="bi bi-cursor-fill"></i>
                    <div>Send</div>

                </div>


            </div>
        </div>

        <div class="post_item">
            <div class="post_item_header">
                <div class="post_item_info">
                    <img src="/img/good-faces.jpg " alt="no image " width="32" height="32" class="rounded-circle me-2" style="height:60px ">
                    <div class="post_item_owner " style="margin-left:8px; ">
                        <a href="# " class="act_title ">Techniczoid </a>
                        <p class="account_name ">10 Million - Followers</p>
                        <p class="account_name ">Youtube Channel</p>
                    </div>
                </div>
                <i class="bi bi-three-dots " style="padding:5px; "></i>
            </div>

            <div class="post_item_body_info ">
                <p style="font-size: 0.95rem; ">I want to intern at CRED. Here's my application. I figured that if I was going to apply, I'd make something worth it. It pays to be good. Cc: Kunal Shah Harish Sivaramakrishnan
                </p>
            </div>

            <div class="post_item_comment_info ">
                <img src="1.svg " alt=" ">
                <img src="2.svg " alt=" ">
                <img src="3.svg " alt=" ">
                <span class="account_name ">20 . Comments</span>

            </div>

            <div class="post_item_footer ">
                <div class="footer_item ">
                    <i class="bi bi-hand-thumbs-up "></i>
                    <div>Like</div>
                </div>
                <div class="footer_item ">
                    <i class="bi bi-chat-text "></i>
                    <div>Comment</div>
                </div>
                <div class="footer_item ">
                    <i class="bi bi-arrow-90deg-right "></i>
                    <div>Share</div>

                </div>
                <div class="footer_item ">

                    <i class="bi bi-cursor-fill "></i>
                    <div>Send</div>

                </div>


            </div>
        </div>





    </div>
    <div class="activity ">

        <div class="news ">

            <div class="news_head ">
                <div class="news_title ">Linkedln News</div>
                <i class="bi bi-info-square-fill " style="font-size:15px; "></i>
            </div>
            <br>

            <div class="new_list ">
                <div class="act_title " style="display: flex;flex-direction: row;align-items: flex-start; ">
                    <i class="bi bi-record-fill " style="font-size:14px;margin-right:10px;display:block;margin-top:5px; "></i> Indian crosses 3,58,974 daily cases
                </div>
                <div style="margin-left:25px; " class="account_name ">10h ago - 5,043 readers</div>
            </div>


            <div class="new_list ">
                <div class="act_title " style="display: flex;flex-direction: row;align-items: flex-start; ">
                    <i class="bi bi-record-fill " style="font-size:14px;margin-right:10px;display:block;margin-top:5px; "></i> Zomato files for $1.18 IPO
                </div>
                <div style="margin-left:25px; " class="account_name ">13h ago - 52,043 readers</div>
            </div>
            <div class="new_list ">
                <div class="act_title " style="display: flex;flex-direction: row;align-items: flex-start; ">
                    <i class="bi bi-record-fill " style="font-size:14px;margin-right:10px;display:block;margin-top:5px; "></i> Jobs pay ,in IT soar
                </div>
                <div style="margin-left:25px; " class="account_name ">1d ago - 7865 readers</div>
            </div>

            <div class="new_list ">
                <div class="act_title " style="display: flex;flex-direction: row;align-items: flex-start; ">
                    <i class="bi bi-record-fill " style="font-size:14px;margin-right:10px;display:block;margin-top:5px; "></i> Google saving $1B a year from WFH
                </div>
                <div style="margin-left:25px; " class="account_name ">2d ago - 7865 readers</div>
            </div>
        </div>

        <div class="news ">

            <div class="news_head ">
                <div class="news_title ">Today's most viewed courses</div>
                <i class="bi bi-info-square-fill " style="font-size:15px; "></i>
            </div>
            <br>

            <div class="new_list ">
                <div class="act_title " style="display: flex;flex-direction: row;align-items: flex-start; ">
                    <i class="bi bi-record-fill " style="font-size:14px;margin-right:10px;display:block;margin-top:5px; "></i> Indian crosses 3,58,974 daily cases
                </div>
                <div style="margin-left:25px; " class="account_name ">Top news 9874 - reviews</div>
            </div>

            <div class="new_list ">
                <div class="act_title " style="display: flex;flex-direction: row;align-items: flex-start; ">
                    <i class="bi bi-record-fill " style="font-size:14px;margin-right:10px;display:block;margin-top:5px; "></i> Indian crosses 3,58,974 daily cases
                </div>
                <div style="margin-left:25px; " class="account_name ">Top news 9874 - reviews</div>
            </div>
        </div>

        <div class="news ">
            <div class="news_head ">
                <div class="news_title act_title ">Add to your feed</div>
                <i class="bi bi-info-square-fill " style="font-size:15px; "></i>
            </div>
            <br>
            <div class="account_feed ">
                <img src="/img/unilever.png " alt="no image " class="account_picture ">
                <div class="account_info ">
                    <p class="act_title ">Unilever</p>
                    <p class="account_name ">Company - Consuumer Goods</p>
                    <div class="follow ">
                        + Follow
                    </div>
                </div>
            </div>
            <div class="account_feed ">
                <img src="/img/whiteX.jpg" alt="no image " class="account_picture ">
                <div class="account_info ">
                    <h4 class="act_title ">Mindworx Academy </h4>
                    <p class="account_name ">Company - Consulting</p>

                    <div class="follow ">
                        + Follow
                    </div>
                </div>
            </div>

            <div class="account_feed ">
                <img src="/img/SB-fc-stacked.jpg " alt="no image " class="account_picture ">
                <div class="account_info ">
                    <h4 class="act_title ">Standard Bank</h4>
                    <p class="account_name ">Company - Banking</p>

                    <div class="follow ">
                        + Follow
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>